#.gitignore :
# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Gatsby
.cache/
public/

# Build outputs
dist/
coverage/
bower_components/

# Environment
.env
.env.*
.env.sentry-build-plugin
content/settings/.env*

# Editor-specific
.vscode/
.idea/
*.sublime-workspace

# Logs
*.log
*.bak
*.tmp
*.swp

# Misc
.DS_Store
Thumbs.db

# Hosting
.netlify/
supabase/
